In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

In [18]:
win_data = pd.read_csv('presidential_data.csv')

In [20]:
win_data

,Year,Winning Candidate,Winning Candidate Party,Losing Candidate,Losing Candidate Party
0,1984,Ronald Reagan,R,Walter Mondale,D
1,1988,George H.W. Bush,R,Michael Dukakis,D
2,1992,Bill Clinton,D,George H.W. Bush,R
3,1996,Bill Clinton,D,Bob Dole,R
4,2000,George W. Bush,R,Al Gore,D
5,2004,George W. Bush,R,John Kerry,D
6,2008,Barack Obama,D,John McCain,R
7,2012,Barack Obama,D,Mitt Romney,R
8,2016,Donald Trump,R,Hillary Clinton,D

In [30]:
sentiment_total = pd.read_csv('Sentiment_Total.csv', usecols = (1,2,3,4,5,6,7))
sentiment_total

,Election_Year,Debate_Date,Candidate_Name,Affiliation,Positive_Words,Negative_Words,Total_Sentiment
0,2000,10/3/2000,George Bush,R,3517,1574,5091
1,2000,10/3/2000,Albert Gore,D,3235,1443,4678
2,2000,10/11/2000,George Bush,R,3168,1945,5113
3,2000,10/11/2000,Albert Gore,D,2710,1785,4495
4,2000,10/17/2000,George Bush,R,3488,1316,4804
5,2000,10/17/2000,Albert Gore,D,3200,1231,4431
6,2004,9/30/2004,George Bush,R,3182,1450,4632
7,2004,9/30/2004,John Kerry,D,2967,1322,4289
8,2004,10/8/2004,George Bush,R,2927,2017,4944
9,2004,10/8/2004,John Kerry,D,2864,1942,4806
10,2004,10/13/2004,George Bush,R,3139,1160,4299
11,2004,10/13/2004,John Kerry,D,3175,1166,4341
12,2008,9/26/2008,Barack Obama,D,2384,2031,4415
13,2008,9/26/2008,John McCain,R,2117,1831,3948
14,2008,10/7/2008,Barack Obama,D,2158,1264,3422
15,2008,10/7/2008,John McCain,R,1993,1114,3107
16,2008,10/15/2008,Barack Obama,D,2558,1231,3789
17,2008,10/15/2008,John McCain,R,2648,1263,3911
18,2012,10/3/2012,Barack Obama,D,3824,1438,5262
19,2012,10/3/2012,Mitt Romney,R,4307,1641,5948
20,2012,10/16/2012,Barack Obama,D,3240,1748,4988
21,2012,10/16/2012,Mitt Romney,R,4628,2448,7076
22,2012,10/22/2012,Barack Obama,D,4569,2393,6962
23,2012,10/22/2012,Mitt Romney,R,4368,2255,6623
24,2016,9/26/2016,Hillary Clinton,D,3704,3388,7092
25,2016,9/26/2016,Donald Trump,R,4637,4225,8862
26,2016,10/9/2016,Hillary Clinton,D,2646,2416,5062
27,2016,10/9/2016,Donald Trump,R,3571,3353,6924
28,2016,10/19/2016,Hillary Clinton,D,5446,4316,9762
29,2016,10/19/2016,Donald Trump,R,5720,4439,10159

In [37]:
Bush= sentiment_total[sentiment_total['Candidate_Name'] == 'George Bush']

In [38]:
Bush

,Election_Year,Debate_Date,Candidate_Name,Affiliation,Positive_Words,Negative_Words,Total_Sentiment
0,2000,10/3/2000,George Bush,R,3517,1574,5091
4,2000,10/17/2000,George Bush,R,3488,1316,4804
6,2004,9/30/2004,George Bush,R,3182,1450,4632
8,2004,10/8/2004,George Bush,R,2927,2017,4944
10,2004,10/13/2004,George Bush,R,3139,1160,4299

In [62]:
#Bush_2000 = []
#Bush_2004 = []
positive_2000 = 0
negative_2000 = 0
positive_2004 = 0
negative_2004 = 0


for i in range(len(sentiment_total)):
    if sentiment_total['Candidate_Name'][i] == 'George Bush':
        if sentiment_total['Election_Year'][i] == 2000:
            positive_2000 += int(sentiment_total['Positive_Words'][i])
            negative_2000 += int(sentiment_total['Negative_Words'][i])
        else:
            positive_2004 += int(sentiment_total['Positive_Words'][i])
            negative_2004 += int(sentiment_total['Negative_Words'][i])

In [63]:
positive_2000

7005

In [64]:
positive_2004

9248

In [ ]:
def sum_words(data,year):
    data = np.array(data)
    candidate1, candidate2 = np.unique(data[year])
    candidate1 = []
    candidate2 = []
    for i in range(len(data)):

In [ ]:
unique